# Exclude the following directories and
# file types from source control:

_*

*.bak
*.log
*.swp

.cvs
.DS_Store
.env
.grunt
.idea
.project
.settings
.svn
.tmp
.todo
.vagrant

build
coverage
dist
docs
logs
nbproject
node_modules
Thumbs.db
tmp
vendor
