# Exclude the following directories and
# file types from source control:

# Directories:
.cvs
.DS_Store
.grunt
.idea
.svn
.tmp
.todo
.vagrant
build
coverage
dist
logs
node_modules
Thumbs.db
tmp

# Files:
*.bak
*.log
*.swp
