@charset "UTF-8";

/**
 * Elements
 * Based on Elementary CSS v1.0.0
 */

* {
    margin: 0;
    padding: 0; 
}

html {
    background: hsl(0, 0%, 100%);
    min-width: 320px; 
}

body {
    overflow-y: scroll; 
}

body {
    font-family:
        'Arial',
        'Helvetica',
        'Helvetica Neue',
        'sans-serif';
    font-weight: 400; 
}

body * {
    font-family: inherit;
    font-weight: inherit; 
}

code {
    font-family:
        'Deja-vu Sans Mono',
        'Monaco',
        'Menlo',
        'Consolas',
        'Courier New',
        'monospace'; 
}

b,
strong {
    font-weight: 700; 
}

em,
i {
    font-style: italic; 
}

html {
    font-size: 10px; 
}

html * {
    font-size: 100%; 
}

ul ul,
ol ol,
ul ol,
ol ul {
    font-size: 100%; 
}

body {
    font-size: 1.6em; 
}

code {
    font-size: 90%; 
}

body {
    line-height: 1; 
}

body * {
    line-height: inherit; 
}

html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

body {
    color: hsl(0, 0%, 10%); 
}

body * {
    color: inherit; 
}

svg {
    fill: currentColor; 
}

ol,
ul {
    list-style-position: inside; 
}

ul {
    list-style-type: none; 
}

li {
    list-style: inherit; 
}

hr {
    border: 0;
    border-top: 1px solid hsl(0, 0%, 70%);
    height: 0;
    margin: 2rem 0;
}

figure {
    overflow: auto; 
}

code {
    white-space: nowrap; 
}

pre {
    overflow: auto;
    white-space: pre;
    word-wrap: normal; 
}

pre code {
    white-space: pre; 
}

abbr,
dfn {
    text-decoration: none; 
}

abbr[title],
dfn[title] {
    cursor: help; 
}

dfn {
    font-style: normal; 
}

blockquote,
q {
    quotes: none; 
}

blockquote::before,
blockquote::after {
    content: ''; 
}

q::before,
q::after {
    content: ''; 
}

cite {
    font-style: normal; 
}

small {
    font-size: 100%; 
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit; 
}

::-moz-selection {
    background: hsl(50, 100%, 70%);
    color: inherit;
    text-shadow: none; 
}

::selection {
    background: hsl(50, 100%, 70%);
    color: inherit;
    text-shadow: none; 
}

a {
    color: inherit;
    outline: none;
    text-decoration: none; 
}

*:focus {
    outline: none; 
}

img {
    border: 0;
    display: block;
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%; 
}

svg {
    display: block;
    max-width: 100%; 
}

svg:not(:root) {
    overflow: hidden; 
}

address::after,
article::after,
aside::after,
blockquote::after,
div::after,
fieldset::after,
figure::after,
footer::after,
form::after,
header::after,
main::after,
nav::after,
section::after {
    clear: both;
    content: '';
    display: table; 
}

ol::after,
ul::after {
    clear: both;
    content: '';
    display: table; 
}

/**
 * Layout
 */

.CONTAINER {
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 2rem;
}

.WRAPPER {
    padding: 4rem 0;
}

.BANNER {
    margin-bottom: 4rem;
}

.BANNER_LOGO {
    margin-bottom: 8rem;
}

.BANNER_LOGO:last-child {
    margin-bottom: 4rem;
}

.BANNER_NAV {
    /* Not in use. */
}

.MAIN {
    /* Not in use. */
}

.FOOTER {
    border-top: 1px solid hsl(0, 0%, 80%);
    padding: 4rem 0;
    margin-top: 8rem;
}

/**
 * Components
 */

/* Impressum */

.Impressum--list {
    line-height: 1.6;
}

.Impressum--item {
    float: left;
    margin-right: 1em;
}

.Impressum--item:last-child {
    margin-right: 0;
}

/* Logo */

.Logo--logo {
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.Logo--tagline {
    font-size: 2.4rem;
    line-height: 1.2;
}

/* Menu */

.Menu--list {
    line-height: 1.6;
}

.Menu--item {
    /* Not in use. */
}

.Menu--link {
    /* Not in use. */
}

/* RichText */

.RichText h2, h3 {
    margin-bottom: 2rem;
}

.RichText h2 {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    font-size: 2.4rem;
    line-height: 1.2;
    margin-top: 4rem;
}

.RichText h3 {
    font-weight: 700;
    line-height: 1.6;
    margin-top: 2rem;
}

.RichText h2 + h3 {
    margin-top: 0;
}

.RichText h2:first-child,
.RichText h3:first-child {
    margin-top: 0;
}

.RichText p, 
.RichText ul,
.RichText ol {
    line-height: 1.6;
    margin-bottom: 2rem;
}

.RichText p:last-child, 
.RichText ul:last-child {
    margin-bottom: 0;
}

.RichText ul ul, 
.RichText ol ol {
    padding-left: 2em;
}

.RichText ul li {
    margin-left: 0.75em;
    padding-left: 0.75em;
    position: relative;
}

.RichText ul li::before {
    color: hsl(0, 0%, 10%);
    content: '–';
    margin-top: -2px;
    position: absolute;
    right: 100%;
}

.RichText code {
    background: hsl(0, 0%, 95%);
    color: inherit;
    padding: 0.2em;
}

.RichText pre {
    background: hsl(0, 0%, 95%);
    color: inherit;
    margin: 2rem 0;
    padding: 1rem;
}

/**
 * Utilities
 */

.h2 {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hyperlinks a {
    color: inherit;
    border-bottom: 1px solid hsl(0, 0%, 10%);
}

.hyperlinks a:focus, 
.hyperlinks a:active {
    outline-offset: 2px;
    outline: 2px solid hsl(0, 0%, 10%);
}
